@charset "UTF-8";
@font-face {
    font-family: 'planet kosmos';
    src: url('fontes/planet kosmos.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url(fontes/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1d1d1d;   
}

h1 {
    background-color: #F2E205;
    padding: 5px;
    margin: -14.6px -14.6px 0 -14.6px;
    color: black;
    font-family: 'planet kosmos', Times, serif;
    border-radius: 10px 10px 0px 0px;
}

#caixaprincipal {
    background-color: #94CEF2;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.932);
}

#caixaprincipal > p {
    font-family: 'Roboto', Times, serif;
    color: black;
    margin-bottom: -84px;
    margin-top: 30px;
}

.ellie {
    height: 230px;
    margin-top: 115px;
    margin-left: 0px;
    border-bottom-left-radius: 10px;
}

.pikachu {
    height: 230px;
    margin-left: -4px;    
    margin-top: 115px;
}

.marioeluigi {
    height: 230px;
    margin-left: -53px;
    border-bottom-right-radius: 10px;
    margin-top: 115px;
}