@charset "UTF-8";
@font-face {
    font-family: 'planet kosmos';
    src: url('fontes/planet kosmos.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular';
    src: url(fontes/CircularStd-Medium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Press Gothic Pro';
    src: url(fontes/Press\ Gothic\ Pro.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #2b2b2b;   
}

hr {
    height: 1px;
    border: none;
    background-color: rgb(87, 86, 86);
}

#caixaprincipal {
    background-color: #94CEF2;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 5px 20px #000000ee;
}

#caixaprincipal > h1 {
    background-color: #F2E205;
    padding: 5px;
    margin: -14.6px -15px 0 -14.6px;
    color: black;
    font-family: 'planet kosmos', Times, serif;
    border-radius: 20px 20px 0px 0px;
}

#caixaprincipal > p {
    font-family: 'circular', Times, serif;
    color: #000000;
    margin-bottom: -84px;
    margin-top: 30px;
    line-height: 18px;
}


picture {
    margin: auto;
}

.ellie {
    height: 230px;
    margin-top: 115px;
    margin-left: 2px;
    border-bottom-left-radius: 20px;
    box-shadow: 3px 3px 8px #00000067;
}

.pikachu {
    height: 230px;
    margin-left: -4px;    
    margin-top: 115px;
    box-shadow: 3px 3px 8px #00000067;
}

.marioeluigi {
    height: 230px;
    margin-left: -4px;
    border-bottom-right-radius: 20px;
    margin-top: 115px;
    box-shadow: 3px 3px 8px #00000067;
}
#tlou {
    background-color: #fffbe2;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin: 100px;
    margin-top: 150px;
    box-shadow: 5px 5px 20px #000000ee;
}

#tlou > h1 {
    text-align: center;
    background-color: #92731fa6;
    padding: 5px;
    margin: -14.6px -15px 0 -14.6px;
    color: black;
    font-family: 'Press Gothic Pro', Times, serif;
    font-size: 50px;
    border-radius: 20px 20px 0px 0px;
}

#tlou > p {
    font-family: 'circular', Times, serif;
    color: #000000;
    margin-top: 30px;
    line-height: 18px;
    text-align: justify;
}

#imagenstlou {
    background-color: #fffbe2;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    height: 300px;
    box-shadow: 5px 5px 20px #000000ee;
    margin-left: 700px;
    margin-top: -428px;
    position: relative;
}

#imagenstlou > picture {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-51%, -46%);
    
}

.tlou1 {
    border-radius: 20px 0px 0px 20px;
    width: 160px;
    margin-left: 13px;
    box-shadow: 3px 3px 8px #00000067;
}

.tlou2 {
    width: 160px;
    margin-left: -4px;
    box-shadow: 3px 3px 8px #00000067;
}

.tlou3 {
    border-radius: 0px 20px 20px 0px;
    width: 161px;
    margin-left: 328px;
    margin-top: -3000px;
    margin-bottom: 18px;
    box-shadow: 3px 3px 8px #00000067;
}

#imagenspkmn {
    background-color: #fffbe2;
    border-radius: 20px;
    padding: 15px;
    width: 537px;
    height: 211px;
    box-shadow: 5px 5px 20px #000000ee;
    margin-top: 120px;
    margin-left: 78px; 
   
}

#imagenspkmn > picture {
    margin-left: -163px;
    float: ;
    
    
    
}

.pkmn1 {
    border-radius: 20px 0px 0px 20px;
    width: 175px;
    margin-left: 176px;
    box-shadow: 3px 3px 8px #00000067;
}

.pkmn2 {
    width: 180px;
    margin-left: -4px;
    box-shadow: 3px 3px 8px #00000067;
}

.pkmn3 {
    border-radius: 0px 20px 20px 0px;
    width: 160px;
    margin-left: 368px;
    margin-top: -164px;
    margin-bottom: 18px;
    box-shadow: 3px 3px 8px #00000067;
}

#soulsilver {
    background-color: #fffbe2;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin-top: -250px;
    margin-left: 700px;
    box-shadow: 5px 5px 20px #000000ee;
}

#soulsilver > h1 {
    text-align: center;
    background-color: #92731fa6;
    padding: 5px;
    margin: -14.6px -15px 0 -14.6px;
    color: black;
    font-family: 'Press Gothic Pro', Times, serif;
    font-size: 50px;
    border-radius: 20px 20px 0px 0px;
}

#soulsilver > p {
    font-family: 'circular', Times, serif;
    color: #000000;
    margin-top: 30px;
    line-height: 18px;
    text-align: justify;
}

footer {
    text-align: center;
    color: rgb(255, 250, 226);
    font-family: 'roboto';
    font-size: 13px;
}